@charset "utf-8";

/* 初期設定
---------------------------------------------------- */
body {      
	margin: 0;
	padding: 0;
	font-size: small;
	color: #333333;
        background-color: #FFFFFF;
        background-image: url(image2/argyle2rere.png);
        background-repeat: repeat-y;
        background-position: left,right;
}
 
h1 {
        max-width: 50%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
	font-size: xx-large;
	color: deepskyblue;
        background-color: #FFFFFF;
        opacity: 0.8;
}
h2 {
        max-width: 50%;
        margin: 0 auto;
	padding:30px;
        text-align: center;
	font-size: xx-large;
	color: deepskyblue;
        background-color: pink;
        opacity:0.7;        
}
h3{
        max-width: 67%;
        margin: 0 auto;
        border-top: 10px;
        border-left: 10px; 
        border-bottom: 60px;
        border-right: 10px;
        padding: 20px;
        font-size: 18px;
        line-height: 140%;
	color: deepskyblue;
        background-color:#FFFFE0;
        opacity: 0.8;
        border-top: 40px solid #FFFFFF;
	border-bottom: 30px solid #FFFFFF;	
}

p {
	line-height: 1.7;
}
a:link,a:visited {
	color:#FFFFFF;
}


section, article, aside, nav, header, main, footer{
	display: block;
}
table, td, th { 
	border: 1px solid gray;
}

/* ページの枠組み
---------------------------------------------------- */
#page {
	margin: 0 auto;
	width: 900px;
}

main {
	float: left;
	width: 900px;
	padding-bottom: 50px;              
}


footer{
  clear:both;
}
footer section{
  float: left;
  width: 210px;
}
footer section:nth-child(2){
  margin: 0 30px;
}


/* ヘッダー
---------------------------------------------------- */
header img {
  display: block;
}
div class{
  float:left;
}
#logo {
  max-width: 50%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 1px;   
}
#motif1{
  position:absolute;
  top:50px;
  left:280px;
}
#motif2{
  position:absolute;
  top:50px;
  right:280px;
}
#mainvisual{
  width: 100%;

  
}


/* ナビゲーション
---------------------------------------------------- */
nav ul li {
    float: left;
    position: relative;
    top: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: 70px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #FFFFFF;
    padding: 23px 23px 23px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 150%;     	
}

nav ul li.b1{
    position: relative;
    left: 120px;
    background-color:deeppink;
}

nav ul li.b2{
    position: relative;
    left: 150px;
    background-color:mediumvioletred;
}
nav ul li.b3{
    position: relative;
    left: 180px;
    background-color:deeppink;
}
nav ul li.b4{
    position: relative;
    left: 210px;
    background-color:mediumvioletred;
}

nav li:hover{
    -webkit-transform: scale( 1.5 );
    -moz-transform: scale( 1.5 );
}

nav a {
    width: 100px;
    color: #fff;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 800px;
    -moz-border-radius: 800px;
    -webkit-border-radius: 800px;
    font-weight: bold;
}

/* メイン要素
---------------------------------------------------- */	
main .text{
	max-width: 80%;
	margin: 0 auto;
	padding: 25px;
	background-color:lavenderblush;
	opacity: 0.8;
	border-top: 40px solid #FFFFFF;
	border-bottom: 30px solid #FFFFFF;	
}
main p{
        max-width: 80%;
        margin: 0 auto;
        border-top: 40px; 
        border-left: 10px; 
        border-bottom: 20px; 
        border-right: 10px;
        padding: 20px;
        font-size: 17px;
        line-height: 120%;
	color: deepskyblue;
}

main a:link, a:visited {
	background-color: hotpink;
}
div#parent{
}
div#parent div.child_flame{
	clear:both;
	margin: 10px;	
}
div#parent div.child{	
	float:left;
        margin:5px;
	padding: 10px;
	text-align:center;
}



div#parent2{
}
div#parent2 div.child2_flame{
	clear:both;
	margin: 10px;	
}
div#parent2 div.child2{	
	float:left;
        margin:5px;
	padding: 5px;
	text-align:center;
}


div#parent3{
}
div#parent3 div.child3_flame{
	clear:both;
	
}
div#parent3 div.child3{	
	float:left;
        margin: 9px;
	text-align:center;
}

#p1 img{ float: left;
	 margin:20px;}
#p1 {border-top:40px;
     border-bottom:40px;
     font-size:20px;
     background-color:mistyrose;}

#p2 img{ float: right;
	 margin:20px;}
#p2 {border-top:40px;
     border-bottom:40px;
     clear:left;
     font-size:20px;
     background-color:honeydew;}

#p3 img{ float: left;
	 margin:20px;}
#p3 {clear:right;
     font-size:20px;
     background-color:mistyrose;}

#p4 img{ float: right;
	 margin:20px;}
#p4 {clear:left;
     font-size:20px;
     background-color:honeydew;}


main #fuwafuwa {
	margin-left: 320px;
	margin-right: 200px;
	-webkit-animation:fuwafuwa 3s infinite linear alternate;
	animation:fuwafuwa 3s infinite linear alternate;
}
@-webkit-keyframes fuwafuwa {
0% {-webkit-transform:translate(0, 0) rotate(-5deg);}
50% {-webkit-transform:translate(0, -5px) rotate(0deg);}
100% {-webkit-transform:translate(0, 0)rotate(5deg);}
}
@keyframes fuwafuwa {
0% {transform:translate(0, 0) rotate(-5deg);}
50% {transform:translate(0, -5px) rotate(0deg);}
100% {transform:translate(0, 0)rotate(5deg);}
}
  
/* フッター
---------------------------------------------------- */
#site_map{
  margin-top: 100px;
}
footer {
  border-top: 1px solid #778899;
}
footer li,footer a{
  display: block;
}
footer li {
  float: left;
  margin: 10px;
}
footer a {
	margin-left:45px;
        margin-right:45px;
	padding:23px;
        text-align: center;
	font-size: large;
	color: #FFFFFF;
        background-color: pink;
        border-top: 5px solid #FFFFFF;
	border-bottom: 40px solid #FFFFFF;	
}
footer a:hover {
	background-color: pink;
	opacity:0.4;
}
#current a {
	background-color: pink;
	opacity:0.4;
}
#copyright{
  clear: both;
  border-top: 50px;
  border-bottom: 20px;
  text-align: center;
  color: deepskyblue;
}
/* 表組み
---------------------------------------------------- */
table{
  font-size: small;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  background-color: #FFFFFF;
  opacity:0.9;
}
.top_c{
  background-color: pink;
}
.left1{
  text-align:center;
  width: 3%;
  background-color: pink;
}
